
<div class="container">

	<% count = @top.count %>
	<% remaining_spans=2 %>
	<% i = 0 %>

<% remaining_spans =2 %> <!-- how many to add to get to TOTAL_SPANS %>

<!--% @top.each_with_index do |element, index| %-->
<% puts "entering rendering" %>
<% while (i < count) %>
<% puts "i =" + i.to_s %>
<div class="row">
	<!-- pluck items from the top till we reach max -->
	<% for k in (0..MAX_PER_ROW-1) %>
	<div class="span2">
		<table border-right="3px">
			<tr>
				<td>
				</td>

				<% arr = numToArray(@top[k+i]) %>
				<% for j in (0..arr.length-1) %>
				<td>
					<%= arr[j] %>
				</td>

				<% end %>
				<!--%= @top[k+i]  %-->
			</tr>
			<tr>
				<td>
					<script>
					var numeric = /\d+/.exec(<%=@symbol%>);
					var decoded= String.fromCharCode(numeric);
					document.write(decoded);
					</script>
				</td>
				<% numtop = numDigits(@top[k+i]) %>
				<% numbot = numDigits(@bottom[k+i])%>
				<% numdiff = numtop - numbot %>
				<% for l in (0..numdiff-1) %>
				<td> </td>
				<%end%>
				<% arr = numToArray(@bottom[k+i]) %>
				<% for j in (0..arr.length-1) %>
				<td class="td_bottom">
					<%= arr[j] %>
					<!--%= @bottom[k+i] %-->
				</td>

				<%end%>
			</tr>
			<tr>
				<td class="tanswer">
			<%index = k+i%>
			
				<% tarea = 'ta' + index.to_s %>
				<%= text_area_tag(tarea, nil) %>

				<script>
				$("#<%=tarea%>").bind('keydown focusout', function(e){
				if (e.type === "keydown") {
					if ((e.which === 9) || (e.which === 13)) {
					if (e.which === 13) {
						e.preventDefault();
					}
					var url = "/answer";
					var el = "#<%=tarea%>";
					var answer = $(el).val();
					var params = {element: el, offset:<%=index%>, value: answer};
					$.get(url, params,function(response){ 
									//alert(response); 
					}, 'script'
					)
					}
				}
				if (e.type == "focusout") {
					var url = "/answer";
					var el = "#<%=tarea%>";
					var answer = $(el).val();
					var params = {element: el, offset:<%=index%>, value: answer};
					$.get(url, params,function(response){ 
									//alert(response); 
					}, 'script'
					)
					}});
				</script>
			</td>
			</tr>
		</table>
	</div>
	<%end%>
</div>
<%i=i+k+1%>
<%end%>






<div class="row">
	<div class="span3">
		<%= link_to 'Solutions', solution_path %>
	</div>
	<div class="span3">
		<%= link_to 'gimme more', more_path%>
	</div>
</div>

</div>
